button{
    
}
button:hover{
    cursor:pointer;
   
}
#test{
    margin-top: 50px;
    margin-left: 550px;
    font-size: 200px;
}
.container{
    display: flex;
    flex-direction: row;
}
.choices{
    margin: 15px;
    border: solid black 1px;
    text-align: start;
    width: 200px;
    padding: 5px;
}
#questions{

    font-size: 30px;
}
.choices:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor:pointer;
    background-color: lightgray;
    z-index: 2;
}